$cardfont: 'Inder', sans-serif;
$headingfont: 'Inder', sans-serif;
$textfont: 'Roboto', sans-serif;

$highlight-color: #29b1ea;
$main-color: white;
$button-box-shadow: 1px 1px 1px 1px lightgrey;
$border: 1px solid black;
$button-gradient: linear-gradient(#8cecd1, #2057cc);
$purple: #412da1;
$card-box-shadow: 1px 2px 4px 0.5px #313131;


#content {
  font-family: $textfont;

  button {
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: $border;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px lightgrey;
    background-color: white;
  }

  button:disabled {
    color: grey;
  }

  nav {
    display: flex;
    height: 60px;
    box-shadow: 0px 1px 10px 2px #d0d0d0;
    align-items: center;
    justify-content: flex-end;

    button {
      height: 30px;
      line-height: 30px;
      width: 90px;
      margin-left: 10px;
      font-size: 14px;
    }
    .title {
      position: absolute;
      left: 20px;
      top: 10px;
      display: flex;

      h1 {
        display: inline-block;
        font-family: $cardfont;
        line-height: 40px;
        font-size: 40px;
        margin-left: 10px;
      }

      .bj-logo {
        display: inline-block;
        background-size: contain;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: image-url("blackjack.png");
      }
    }

    .welcome-user {
      margin-right: 10px;
    }

    .sign-in-up-form {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      width: 500px;
      margin-right: 10px;

      form {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

      .form-fields {
        width: 100px;
        height: 20px;
        padding: 5px;
        margin: 5px;
        font-size: 14px;
        border-radius: 2px;
        box-shadow: 1px 1px 1px 1px darkgrey;
      }

      .switch-form {
        color: $highlight-color;
        cursor: pointer;
        font-size: 14px;
      }
    }
  }

  .main {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .add-game-button {
      width: 200px;
      height: 80px;
      border-radius: 10px;
      background-image: $button-gradient;
      // color: $highlight-color;
      color: white;
      border: none;
      font-size: 30px;
    }

    .game-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

      .game-list-item {
        height: 90px;
        line-height: 30px;
        margin: 5px;
      }
    }
  }


  #deck {
    width: 100px;
    height: 130px;
    position: relative;
    display: inline-block;
    float: left;
    margin-top: 8px;
    margin-right: 20px;
    align-self: flex-start;

    .card-back {
      background-image: image-url("card_bkg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 90px;
      height: 120px;
      position: absolute;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0px 1px 1px 0.5px #313131;
    }
  }


  .card {
    font-family: $cardfont;
    width: 90px;
    height: 120px;
    font-size: 16px;
    float: left;
    // box-shadow: $card-box-shadow;
    position: absolute;
    perspective: 1000px;
    // margin: 10px;
    transition: all 1s ease-in-out;

    .top-left {
      top: 5px;
      left: 5px;
      line-height: 18px;
      position: absolute;
    }

    .bottom-right {
      bottom: 5px;
      right: 5px;
      line-height: 18px;
      position: absolute;
      transform: rotate(180deg);
    }

    .center {
      font-size: 50px;
    }

    .card-back {
      background-image: image-url("card_bkg.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: 2;
      transform: rotateY(180deg);
    }

    .card-front {
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      transform: rotateY(0deg);
    }

    .card-front, .card-back {
      width: 90px;
      height: 120px;
      backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      top: 0px;
      left: 0px;
      position: absolute;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: $card-box-shadow;
    }

    .flipper {
      width: 100%;
      height: 100%;
	    transition: 0.6s;
	    transform-style: preserve-3d;
	    position: relative;
    }

  }

  .card.is-flipped .flipper, .card-front, .card-back {
	   transform: rotateY(180deg);
  }


  .game {
    padding: 20px;
    min-width: 900px;

    .game-stats {
      text-align: center;
      margin-bottom: 20px;
      margin-top: -20px;
    }

    .start-leave-button-cont {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        margin: 0px 10px;
      }
    }

    .playing-field {
      margin-top: 20px;
      min-width: 860px;
      border-radius: 20px;
      padding: 10px 10px 60px 10px;

      background: #384186;

      .dealer-row {
        display: flex;
        align-items: flex-end;
        justify-content: center;

      }

      .users-playing-field-display {
        margin-top: -20px;

        .first-row {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          height: 270px;
        }

        .second-row {
          display: flex;
          align-items: flex-start;
          justify-content: center;
          height: 270px;
        }
      }

      .current-player {
        box-shadow: 0px 0px 15px 2px white;
        border-radius: 50px;
        background: rgba(149, 167, 221, 0.3);
      }

      .player-display {
        text-align: center;
        width: 400px;
        display: flex;
        flex-direction: column;
        padding: 10px;
        color: white;
        margin: 10px;
        position: relative;

        h2 {
          font-size: 24px;
          font-family: $headingfont;

          .current-user-light {
            font-size: 20px;
          }
        }

        strong {
          font-weight: bold;
          color: white;
        }

        .game-actions {
          button {
            background-image: $button-gradient;
            border: none;
            width: 70px;
            height: 30px;
            line-height: 30px;
            margin: 5px;
            box-shadow: 1px 2px 4px 0.5px #747474;
          }
        }

        .player-hand {
          position: relative;
          height: 140px;
          margin-top: 10px;
          // display: flex;
          // align-items: center;
          // justify-content: center;
        }

        .winner-status {
          position: absolute;
          z-index: 5;
          color: #00ffb0;
          font-size: 70px;
          top: 55px;
          left: 65px;
          transform: rotate(-10deg);
          font-family: $headingfont;
          padding: 5px 20px;
          background-color: rgba(0, 0, 0, 0.8);
        }

        .winner-status.min-banner {
          transform: scale(0.0, 0.0) rotate(1200deg);
        }

        .winner-status.show-banner {
          transform: scale(1.0, 1.0) rotate(-10deg);
          transition: 1s ease-in-out;
        }
      }

      .dealer-display {
        width: 540px;

        .winner-status {
          top: 55px;
          left: 120px;
        }
      }

      .dealer-cont {
        width: 520px;
        margin-top: 10px;
        padding-left: 80px;

        .player-hand {
          float: left;
          display: inline-block;
        }


        // margin: auto;
      }

      .user-display {
      }
    }

  }
}
