$cardfont: 'Inder', sans-serif;
$textfont: 'Roboto', sans-serif;

$highlight-color: #29b1ea;
$main-color: white;
$button-box-shadow: 1px 1px 1px 1px lightgrey;
$border: 1px solid black;
$button-gradient: linear-gradient(#8cecd1, #2057cc);
$purple: #412da1;
$card-box-shadow: 1px 2px 4px 0.5px #747474;


#content {
  font-family: $textfont;

  button {
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: $border;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px lightgrey;
    background-color: white;
  }

  button:disabled {
    color: grey;
  }

  nav {
    display: flex;
    height: 60px;
    box-shadow: 0px 1px 10px 2px #d0d0d0;
    align-items: center;
    justify-content: flex-end;

    button {
      height: 30px;
      line-height: 30px;
      width: 90px;
      margin-left: 10px;
      font-size: 14px;
    }
    .title {
      position: absolute;
      left: 20px;
      top: 10px;
      display: flex;

      h1 {
        display: inline-block;
        font-family: $cardfont;
        line-height: 40px;
        font-size: 40px;
        margin-left: 10px;
      }

      .bj-logo {
        display: inline-block;
        background-size: contain;
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center;
        background-image: image-url("blackjack.png");
      }
    }

    .welcome-user {
      margin-right: 10px;
    }

    .sign-in-up-form {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      width: 500px;
      margin-right: 10px;

      form {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

      .form-fields {
        width: 100px;
        height: 20px;
        padding: 5px;
        margin: 5px;
        font-size: 14px;
        border-radius: 2px;
        box-shadow: 1px 1px 1px 1px darkgrey;
      }

      .switch-form {
        color: $highlight-color;
        cursor: pointer;
        font-size: 14px;
      }
    }
  }

  .main {
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .add-game-button {
      width: 200px;
      height: 80px;
      border-radius: 10px;
      background-image: $button-gradient;
      // color: $highlight-color;
      color: white;
      border: none;
      font-size: 30px;
    }

    .game-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;

      .game-list-item {
        height: 90px;
        line-height: 30px;
        margin: 5px;
      }
    }
  }


  .card {
    font-family: $cardfont;
    width: 90px;
    height: 120px;
    font-size: 16px;
    border-radius: 10px;
    float: left;
    box-shadow: $card-box-shadow;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: white;

    .top-left {
      top: 5px;
      left: 5px;
      line-height: 18px;
      position: absolute;
    }

    .bottom-right {
      bottom: 5px;
      right: 5px;
      line-height: 18px;
      position: absolute;
      transform: rotate(180deg);
    }

    .center {
      font-size: 50px;
    }

    .hidden {
      width: 100%;
      height: 100%;
      background-image: image-url("card_bkg.jpg");
      // background-image: url(http://www.publicdomainpictures.net/pictures/130000/velka/abstract-elegant-background-card-1438902900z1O.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }


  .game {
    padding: 20px;
    min-width: 800px;

    .game-stats {
      text-align: center;
      margin-bottom: 20px;
      margin-top: -20px;
    }

    .start-leave-button-cont {
      display: flex;
      align-items: center;
      justify-content: center;

      button {
        margin: 0px 10px;
      }
    }

    .playing-field {
      // border: $border;
      margin-top: 20px;
      min-width: 760px;
      border-radius: 20px;
      padding: 10px;
      background-image: linear-gradient(rgba(152, 173, 193, 0.43), rgba(114, 111, 136, 0.79));

      .player-display {
        text-align: center;
        width: 300px;
        display: flex;
        flex-direction: column;

        h2 {
          font-size: 24px;
          color: #ffffff;
          text-shadow: 0px 2px 2px #acacac;
        }

        .game-actions {
          button {
            margin: 5px;
            box-shadow: 1px 2px 4px 0.5px #747474;
          }
        }

        .player-hand {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .dealer-display {
        // border: 1px solid blue;
        margin: auto;
      }

      .user-display {
        // border: $border;
      }
    }

  }
}
